<launch>

<node name="viz_kitti_map" pkg="erasor" type="viz_kitti_map" output="screen">
    <rosparam param="/filename">"/media/shapelim/UX960NVMe1/deep_express/kitti_rosbag/00_0_to_4540_w_interval2_voxel_0.200000.pcd"</rosparam>		
</node>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find erasor)/rviz/viz_kitti_map.rviz"/>

</launch>
